<a href="https://colab.research.google.com/github/srisri2004/DAUP/blob/main/smaple_data_as_a_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
#smaple data as a dictionary
data={
    'Name':['sri sri','ramu','balu'],
    'Age':[25,30,35], # Corrected Age list length
    'City':['Warangal','Gopalpur','hanamkonda']
}
#create a dataframe
df  = pd.DataFrame(data)
#print the dataframe
print(df)
#save to csv
df.to_csv('output_data.csv',index=False)#index=False to skip
#save to Excel
df.to_excel('output_data.xlsx',index=False)
print("'data saved to''output_data.csv'and 'output_data.xlsx',")

      Name  Age        City
0  sri sri   25    Warangal
1     ramu   30    Gopalpur
2     balu   35  hanamkonda
'data saved to''output_data.csv'and 'output_data.xlsx',